<!-- <a [routerLink]="'rooms'">rooms</a>
<a [routerLink]="'employee'">employee</a>
<router-outlet></router-outlet> -->

<!-- <hinv-container>
  <hinv-rooms></hinv-rooms>

  <hinv-employee></hinv-employee>
  <h1>this is ng content</h1>
</hinv-container>
 -->

<!-- <h1>{{ title }}</h1>

<div [ngSwitch]="role">
  <div *ngSwitchCase="'user'">
    <h1>Welocome sirji</h1>
  </div>
  
  
  <div *ngSwitchCase="'admin'">
    <ng-template #user></ng-template>
    <hinv-rooms></hinv-rooms>
  </div>
 
  <div *ngSwitchDefault>
    <h1>You are not authorized user</h1>
  </div>
</div> -->
<!-- <div #name>

</div> -->

<hinv-app-nav></hinv-app-nav>
