/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
.even{
    background: rgb(236, 137, 137);
    color: white;
}
.odd{
    background: rgb(123, 123, 255);
    color: rgb(255, 255, 255);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
